@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__picture/lead__picture.css);
@import url(./__caption/lead__caption.css);

.lead {
    max-width: 984px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    box-sizing: border-box;
    position: relative;
}

@media (min-width: 800px) and (max-width: 1080px) {
    .lead {
        margin: 0 48px;
    }
}


@media screen and (max-width: 800px) {
    .lead {
        margin: 0;
    }
}