.card__link {
    margin: 0;
    max-width: 456px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    /* identical to box height, or 122% */
    color: #FFFFFF;
}