.intro__text {
    margin: 40px 0 0 0;
    width: 100%;
    max-height: 209px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    color: #FFFFFF;
}