@import url(./__link/header__link.css);
@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__list-element/header__list-element.css);

.header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 28px;
    margin: 0 48px;
}

@media (min-width: 440px) and (max-width: 930px) {
    .header {
        margin: 0 24px;
    }
}

@media screen and (max-width: 440px) {
    .header {
        margin: 0 16px;
        padding-top: 16px;
    }
}