@import url(./__title/card__title.css);
@import url(./__picture/card__picture.css);
@import url(./__url-heading/card__url-heading.css);
@import url(./__link/card__link.css);
@import url(./__links/card__links.css);
@import url(./__text/card__text.css);
@import url(./__paragraph/card__paragraph.css);

.card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (max-width: 1255px) {
    .card {
        column-gap: 32px;
    }
}

@media screen and (max-width: 930px) {
    .card {
        column-gap: 28px;
    }
}
@media screen and (max-width: 630px) {
    .card {
        gap: 32px;
        grid-template-columns: 1fr;
        
    }
}