@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);
@import url(./__overlay/cover__overlay.css);


.cover {
    width: 100%;
    margin: 92px auto 0;
    background-image: url(../../../pictures/to_baikal_with_dogs.png);
    background-position: center;
    background-size: cover;
}
