.places {
    max-width: 984px;
    display: grid;
    padding-top: 92px;
    box-sizing: border-box;
    margin: 0 auto;
    grid-template-columns: 1fr;
    gap: 80px;
}


@media screen and (max-width: 1075px) {
    .places {
        margin: 0 48px;
    }
}


@media screen and (max-width: 930px) {
    .places {
        padding-top: 88px;
        gap: 72px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 630px) {
    .places {
        padding-top: 64px;
        gap: 48px;
        margin: 0;
    }
}

